html {
  
}

body {
  background: #ffffb3;
}

h1 {

}

.navigation {
  background-color: #1B4965;
}

.navigation ul {
  background-color: #1B4965;
}

.navigation li {
  float: left;
  display: block;
  background-color: #1B4965;
}

.navigation li a:hover {
  background-color: white;
}

#taskList {
  background-color: white;  
}

#mainView {
  clear: left;
  background-color: blue;
}
